<link rel="stylesheet" href="/css/user-ebook-show.css">

<div class="row">
    <div class="col">
        <br><br>
        <h2><%= locals.ebook.title %></h2>
        <br>
    </div>
    <div class="col" style="display: none;">
        <img src="<%= locals.ebook_cover_url %>" alt="<%= locals.ebook.title %>">
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="view"></div>
        <a id="prev" href="#prev" class="arrow" style="visibility: hidden;">‹</a>
        <a id="next" href="#next" class="arrow" style="visibility: visible;">›</a>
    </div>
</div>
<br><br><br>
<script src="https://cdn.jsdelivr.net/npm/jszip@3.5.0/dist/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
<script>
    // set global vars used by `user-ebook-show.js` with data from view
    var ebook_cover_url = "<%= locals.ebook_cover_url %>";
    var ebook_url = "<%= locals.ebook_url %>";
</script>
<script src="/js/user-ebook-show.js"></script>